__pycache__/
.mypy_cache/
.env
# finflow-server-firebase-adminsdk-fbsvc-a8d2d09cc9.json
dump.rdb
dummy.txt
monetra-server-firebase.json
ca.pem
service.cert
service.key
service.cert.b64
service.key.b64
ca.pem.b64
